﻿@{
    ViewBag.Title = "TFM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body ng-app="treeFileManagerApp" class="container" ng-controller="treeController">
    <link rel="stylesheet" href="~/Content/themes/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/themes/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/themes/angular-ui/css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui-tree.min.js"></script>

    <script src="~/Scripts/bootstrap-gh-pages/ui-bootstrap-0.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-gh-pages/ui-bootstrap-tpls-0.12.1.min.js"></script>

    @Scripts.Render("~/bundles/treeFileManagerApp")

    <div ng-include src="'App/treeFileManagerApp/partials/titleView.html'"></div>
    <br />
    <br />
    <div ng-include src="'App/treeFileManagerApp/partials/searchView.html'"></div>
    <br />
    <br />
    <div ng-include src="'App/treeFileManagerApp/partials/treeView.html'"></div>

</body>