﻿<div ng-app="treeFileManagerApp">
    <div class="modal-header">
        <h3 class="modal-title">Features</h3>
    </div>
    <div class="modal-body">        
        <ul class="list-group" ng-repeat="item in featuresData | orderBy:'-item'">
            <li class=" list-group-item">{{item}}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
</div>