﻿<div ng-app="treeFileManagerApp">
    <div class="modal-header">
        <h3 class="modal-title">Thanks to:</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead ng-repeat="(key, value) in creditsData | orderBy:'-key'">
                <tr>
                    <td><b>{{key}}</b></td>
                    <td><a href="{{value}}" target="_blank">{{value}}</a></td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
</div>
