﻿<div ng-app="treeFileManagerApp">
    <div class="modal-header">
        <h3 class="modal-title">{{modal.title}}</h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="modal.inputData.title" placeholder="Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="modal.inputData.description" placeholder="Description" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="submitModal()">Submit</button>
        <button class="btn btn-default" ng-click="cancelModal()">Cancel</button>
    </div>
</div>
