﻿<div ng-app="treeFileManagerApp">
    <div class="modal-header">
        <h3 class="modal-title">Description</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead ng-repeat="(key, value) in modalInfoData.node | orderBy:'-key'">
                <tr>
                    <td><b>{{key}}</b></td>
                    <td>{{value}}</td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="closeModalInfo()">Close</button>
    </div>
</div>
