﻿<div class="container" ng-controller="searchController">
    <div class="form-inline row">
        <div class="pull-left">
            <div class="input-group">
                <input type="text" ng-model="search.selected" typeahead-on-select="search.onSelect($item, $model, $label)"
                       typeahead="item.title for item in search.data | filter:$viewValue | limitTo:10"
                       class="form-control input-sm"
                       placeholder="{{search.placeHolder}}">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
            <div class="btn-group">
                <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'Left'"
                       ng-click="sort.toggleSortName()"
                       ng-class="{'glyphicon glyphicon-sort-by-alphabet': sort.byNameAsc,
                                'glyphicon glyphicon-sort-by-alphabet-alt': !sort.byNameAsc}"
                       tooltip="Sort by Names" popover-trigger="focus"></label>
                <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'Right'"
                       ng-click="sort.toggleSortDate()"
                       ng-class="{'glyphicon glyphicon-sort-by-order': sort.byDateAsc,
                                'glyphicon glyphicon-sort-by-order-alt': !sort.byDateAsc}"
                       tooltip="Sort by Modified Dates" popover-trigger="focus"></label>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-default btn-sm" ng-click="open(null,true)">
                <span class="glyphicon glyphicon-plus"></span>Folder
            </a>
            <a class="btn btn-default btn-sm" ng-click="open(null,false)">
                <span class="glyphicon glyphicon-plus"></span>File
            </a>
            <a class="btn btn-default btn-sm" ng-click="hideAll(false)">
                <span class="glyphicon glyphicon-collapse-down"></span>Expand
            </a>
            <a class="btn btn-default btn-sm" ng-click="hideAll(true)">
                <span class="glyphicon glyphicon-collapse-up"></span>Collapse
            </a>
        </div>
    </div>
</div>
