﻿<div class="container" ng-controller="titleController">
    <div class="row page-header">
        <h3>
            Tree File Manager
            &nbsp;&nbsp;
            <a href="#" class="small" ng-click="openFeatures()">
                <span class="glyphicon glyphicon-pushpin"></span> Features
            </a>
            &nbsp;&nbsp;
            <a href="#" class="small" ng-click="openCredits()">
                <span class="glyphicon glyphicon-star"></span> Credits
            </a>
            &nbsp;&nbsp;
            <a href="{{bitBucketLink}}" target="_blank" class="small">
                <span class="glyphicon glyphicon-download-alt"></span> Get it on BitBucket
            </a>
        </h3>
    </div>
</div>