﻿<div class="container">
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle>
            <span ng-if="!node.isLeaf">
                <div class="row list-group-item">
                    <span class=" pull-left">
                        <a class="btn btn-default btn-xs" data-nodrag="" ng-click="toggleNode(node)">
                            <span class="glyphicon glyphicon-folder-close" ng-class="{'glyphicon-folder-close': node.collapsed,
                                'glyphicon-folder-open': !node.collapsed}"></span>
                        </a>
                        {{node.title}}
                    </span>
                    <span class=" pull-right">
                        <a class="btn btn-default btn-xs" data-nodrag="" ng-click="open(node, true)">
                            <span class="glyphicon glyphicon-plus"></span>Folder
                        </a>
                        <a class="btn btn-default btn-xs" data-nodrag="" ng-click="open(node, false)">
                            <span class="glyphicon glyphicon-plus"></span>File
                        </a>
                        <label data-nodrag="" class="btn btn-default btn-xs" ng-model="radioModel2" btn-radio="'Left'" ng-click="sort.toggleSortNameNode(node)"
                               ng-class="{'glyphicon glyphicon-sort-by-alphabet': node.byNameAsc,
                                'glyphicon glyphicon-sort-by-alphabet-alt': !node.byNameAsc}"></label>
                        <label data-nodrag="" class="btn btn-default btn-xs" ng-model="radioModel2" btn-radio="'Right'" ng-click="sort.toggleSortDateNode(node)"
                               ng-class="{'glyphicon glyphicon-sort-by-order': node.byDateAsc,
                                'glyphicon glyphicon-sort-by-order-alt': !node.byDateAsc}"></label>
                        <a class="btn btn-info btn-xs" data-nodrag="" ng-click="openModalInfo(node)">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                        <a class="btn btn-warning btn-xs" data-nodrag="" ng-click="editFile(node)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger btn-xs" data-nodrag="" ng-click="deleteNode(this)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                </div>
            </span>
            <span ng-if="node.isLeaf" ng-init="search.pushNode(node)">
                <div class="row list-group-item">
                    <span class="pull-left">
                        <a href="#" data-nodrag="" ng-click="openModalInfo(node)">
                         <span class="glyphicon glyphicon-file"></span> {{node.title}}</a>
                    </span>
                    <span class="pull-right">
                        <a class="btn btn-info btn-xs" data-nodrag="" ng-click="openModalInfo(node)">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                        <a class="btn btn-warning btn-xs" data-nodrag="" ng-click="editFile(node)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger btn-xs" data-nodrag="" ng-click="deleteNode(this)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                </div>
            </span>
        </div>
        <ol ui-tree-nodes="" ng-model="node.children" collapse="node.hideChildren">
            <li class="list-group" ng-repeat="node in node.children" ui-tree-node ng-include=" 'nodes_renderer.html' ">
            </li>
        </ol>
    </script>         
    <div ui-tree="treeOptions" data-empty-place-holder-enabled="false">                
        <ol ui-tree-nodes="" ng-model="trees" id="tree-root">
            <li class="list-group" ng-repeat="node in trees" 
                ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>        
        <br />
        <div class="row">
            <br />
            <h5>Active Node</h5>
            <pre class="code">{{currentNode}}</pre>
        </div>
        <div class="row">            
            <h5>Tree</h5>
            <pre class="code">{{trees}}</pre>
        </div>
    </div>
</div>

